doctype html
html
  head
    block head
      meta(charset="utf-8")
      meta(name="viewport", content="width=device-width")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="x-apple-disable-message-reformatting")
      link(rel="stylesheet", href="/build/bootstrap.css", data-inline)
  body.bg-light
    div.container.flex-column.p-3
      div.text-center.flex-column
        p.display-3.font-weight-normal.mb-5.mt-2 LΞDGΞR
        p.font-weight-normal Your password for #{productName} has been changed successfully.  You can now login with your new password
      div.flex-column.mt-5.mt-5
        p.font-weight-regular.my0 Thanks,
        p.font-weight-bold Ledger
      div.flex-column.text-center.mt-5.mt-5.mt-5.mt-5
        p.font-weight-bold.small.text-muted &copy; 2020 #{productName}